input-country:not(.oj-complete){
  visibility: hidden;
}

input-country{

}

input-country .iconbtnintext {	
  position:absolute;
  cursor:pointer;
  width:22px;
  height:23px;
  margin-left:-24px;
  padding-top:4px;
}

.input-country-country-selection-popup {
  width: 80vw;  
  height: 80vh; 
  display: none;
} 
 .input-country-country-selection-popup-body {
  width: 75vw;  
  height: 75vh; 
  display: flex; 
  flex-direction: column;
  align-items: stretch;
} 
 .input-country-country-selection-popup-header {
  align-self: flex-start;
  margin-bottom: 10px;
} 
 .input-country-country-selection-popup-content {
  align-self: stretch;
  overflow: auto;
  flex-basis: 60vh;
} 
 .input-country-country-selection-popup-footer {
  align-self: flex-end;
  margin-top: 10px; 
} 
